.search-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
}

.search-bar {
  position: sticky;
  top: 0;
  background-color: #141414; /* Fondo oscuro estilo Netflix */
  z-index: 10;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #e50914;
}

.search-bar h2 {
  color: #e50914;
  margin-bottom: 10px;
}

.search-input {
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-btn {
  margin-left: 10px;
  padding: 10px 15px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #f40612;
}

.results-container {
  margin-top: 20px;
}
