<div class="search-container">
  <h2>Buscar Películas</h2>
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="query"
      placeholder="Introduce el título de una película"
      (input)="searchMovies()"
      class="search-input"
    />
    <button (click)="searchMovies()" class="search-btn">Buscar</button>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!-- Renderizar el componente MovieList -->
  <app-movie-list *ngIf="movies.length > 0" [movies]="movies"></app-movie-list>
</div>
