<div class="movie-details" *ngIf="movie">
  <h2>{{ movie.title }} ({{ movie.release_date | date: 'yyyy' }})</h2>
  <div class="details-container">
    <img
      [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/w500' + movie.poster_path : 'https://via.placeholder.com/500x750?text=No+Image'"
      alt="{{ movie.title }}"
      class="movie-poster"
    />
    <div class="movie-info">
      <p><strong>Duration:</strong> {{ movie.runtime || 'N/A' }} minutes</p>
      <p><strong>Genres:</strong> {{ genres }}</p>
      <p><strong>Overview:</strong> {{ movie.overview || 'No overview available.' }}</p>
      <p><strong>IMDb Rating:</strong> {{ movie.vote_average }} / 10 ({{ movie.vote_count }} votes)</p>

      <!-- Elenco -->
      <div class="movie-cast">
        <p><strong>Elenco:</strong></p>
        <ul *ngIf="movieCast.length > 0; else noCast">
          <li *ngFor="let actor of movieCast">
            {{ actor.name }} as {{ actor.character }}
          </li>
        </ul>
        <ng-template #noCast>
          <p>No tiene elenco.</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
