.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
}

.details-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-poster {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.back-btn {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #f40612;
}

.movie-info {
  max-width: 600px;
  text-align: left;
}

.movie-info p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.movie-info strong {
  font-weight: bold;
}

.movie-details h2 {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.movie-cast {
  margin-top: 20px;
}

.movie-cast p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.movie-cast ul {
  list-style: none;
  padding: 0;
}

.movie-cast li {
  font-size: 1rem;
  margin-bottom: 5px;
}
