<div class="movie-list">
  <!-- Tarjetas de películas -->
  <div
    *ngFor="let movie of movies"
    class="movie-card"
    (click)="goToDetails(movie.id)"
  >
    <img
      [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/w500' + movie.poster_path : 'https://via.placeholder.com/200x300?text=No+Image'"
      alt="{{ movie.title }}"
      class="movie-poster"
    />
    <div class="movie-info">
      <h4>{{ movie.title }}</h4>
      <p>{{ movie.release_date | date: 'yyyy' }}</p>
      <p class="movie-synopsis">{{ movie.overview || 'No synopsis available.' }}</p>
    </div>
  </div>
</div>

<!-- Paginador -->
<div class="pagination-container">
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
