/* You can add global styles to this file, and also import other style files */
/* Estilo global */
body {
  background-color: #141414; /* Fondo oscuro estilo Netflix */
  color: #ffffff; /* Texto blanco para contraste */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  color: #e50914; /* Rojo estilo Netflix */
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
  text-transform: uppercase;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
